#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  transition: filter 500ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em rgb(100, 108, 255));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em rgb(97, 218, 251));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes glow {
  0%, 100% { box-shadow: 0 0 10px rgba(93, 9, 237, 0.3); }
  50% { box-shadow: 0 0 20px rgba(11, 147, 234, 0.6); }
}

.animate-pulse-glow {
  animation: glow 2s infinite alternate;
}

@keyframes spin_6s_linear_infinite {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

[data-sonner-toast][data-type="error"] {
  background: #ef2af6 !important;
  color: #202020 !important;
}

[data-sonner-toast][data-type="info"] {
  background: #5abde8 !important;
  color: #202020 !important;
}

[data-sonner-toast][data-type="success"] {
  background: #5ae8a1 !important;
  color: #202020 !important;
}

[data-sonner-toast][data-type="warning"] {
  background: #ffb737 !important;
  color: #202020 !important;
}